<table class="table table-user">
    <thead>
      <tr>
        <%= attachment_image_tag customer, :image, :fill, 300, 300, format: 'jpg', fallback: "user2.jpg", class: "rounded-circle" %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>いいね</th>
        <th></th>
      </tr>
    </tbody>
  </table>
