<div class="container">
  <div class="row">
    <div class="col-md-2 text-center" style="margin: 10px 0 10px 0;">
      <h3 style="background-color: #eeeeee;">topページ</h3>
      <%= link_to "カテゴリー", categories_path, class: "btn btn-outline-secondary btn-block" %>