<div class="container">
  <h2 class="head-line text-center">カテゴリー編集</h2>
</div>
    
   <!--urlにはしたいアクションのpath-->
   <%= form_with model:@category, url:admin_category_path(@category), local:true do |f| %>
     <div class="row" style="margin: 50px 0 30px 0;">
       <div class="col-md-1"></div>
       <div class="col-md-1">カテゴリー</div>
       <div class="col-2"><%= f.text_field :name  %></div>
       <div class="actions">
           <%= f.submit "変更を保存", :class => "btn btn-outline-secondary btn-block" %>
       </div>
     </div>
   <% end %>