<footer class="pt-5 pb-4", style="background-color:#FFF;">
  <div class="container">
  <footer class="text-center">© 2021 o.hazuki</footer>
  </div>
</footer>
<!--<style>-->
<!--  footer{-->
<!--    margin-top: auto;-->
<!--  }-->
<!--</style>-->