<div class="container">
	<h2 class="text-center">カテゴリー</h2>
	 <div class="row">
			<% @categories.each do |category| %>
			 <div class="card-deck">
			 	 <div class="card">
			    <div class="col-ms3 card-body" id=<%= categories_path(category.id) %>>
			      <div class="card-title">
			        <h5><%= link_to category.name, items_path(category: category.id) %></h5>
			        <% end %>
			        
			         <div class="content">
			         	<% @sub_categories.each do |sub_category| %>
                 <div class="categories-by"><%= link_to sub_category.name, items_path(sub_category: sub_category.id) %></div>
                 
                 <% end %>
			      </div>
			     </div>
			   </div>
			 </div>
			</div>
			      
			      <div class="card-text">
			        <p>This is a card sample.</p>
			      </div>
			    </div>
	     </div>
       <div class="card">
		    <div class="card-body">
		      <div class="card-title">
		        <h5>card sample</h5>
		      </div>
		      <div class="card-text">
		        <p>This is a card sample.</p>
		      </div>
		    </div>
		  </div>
		</div>
 </div>
 
	 
	  
	 