<div class="container">
	<h2 class="head-line text-center">カテゴリー</h2>
	<div class="row">

	 <div class="category-group">
	   <% @categories.each do |category| %>
	   <div class="list-group-item d-flex justify-content-between align-items-center">
	     <%= link_to category.name, items_path(category: category.id) %>
	   </div>
	     <% end %>
	     <% @sub_categories.each do |sub_category| %>
	     <ul>
        <%= link_to sub_category.name, items_path(sub_category: sub_category.id) %>
      </ul>
    <% end %>
   </div>
	</div>
</div